.vscode/
tools/
installs/

server/heli/
server/jets/
server/kart/
server/mark/
server/orange/
server/tacops/
server/tank/
server/aow/
server/argo/
server/curator/
server/enoch/
server/dll/
server/expansion/
server/addons/
server/dta/
server/sc/
server/*.dll
server/exile.ico
server/license.txt
server/openssl_license.txt
server/steam_appid.txt
server/@Exileserver/exdb/logs
server/@Exilemod/


logs/

steamcmd/

Server/arma3server_readme.txt
Server/arma3server.exe
Server/arma3server_x64.exe
Server/steamapps/appmanifest_233780.acf
